PI_COMMAND=pi
CONDUIT_HOST=127.0.0.1
CONDUIT_PORT=4310
CONDUIT_FILES_ROOT=../data/chat/files
CONDUIT_CATALOG_FILE=../data/conduit.json
CONDUIT_PI_AGENT_DIR=../data/pi
CONDUIT_PI_TEMPLATE=../templates/chat/template.json
